
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Элементүүдийн үндсэн тохиргоо */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8fafc;
  color: #0f172a;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}